@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

:root {
  --border: 1px solid #ddd;
  --cellSize: 36px;
  --rowHeaderWidth: 120px;
  --footerHeight: 120px;
}

* {
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Outfit', sans-serif;
  font-size: 14px;
}
nav {
  background: #121212;
  color: #fff;
  padding: 0 2em;
  overflow: auto;
}
nav ol {
  display: flex;
  margin: 0;
  font-size: 1.1rem;
  padding-inline-start: 0;
  list-style-type: none;
}
nav ol li a {
  padding: 1.35em 1em;
  display: block;
  height: 100%;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border-bottom: 5px solid #121212;
}
nav ol li a:hover {
  background: #222222;
  border-bottom: 5px solid #377337;
}
nav ol li a.active {
  background: #333333;
  border-bottom: 5px solid #63d763;
}

.page-container {
  padding: 1em 2em;
}

.table-container {
  padding: 2em 0 0 0;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  overflow: auto;
}
.columns {
  display: flex;
  width: fit-content;
}
.col {
  cursor: pointer;
}
.col:hover {
  background: #212121;
  color: #ffffff;
}

.col-row-header {
  position: sticky;
  left: 0;
  background: white;
  z-index: 100;
}
.col-row-header:hover {
  background: #ffffff;
  color: #212121;
}
.col-row-header .cell:hover {
  background: #212121;
  color: #ffffff;
}

.cell:hover {
  background: lime;
  color: #212121;
}
.cell { 
  width: var(--cellSize); 
  height: var(--cellSize);
  border-top: var(--border);
  border-right: var(--border);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.cell--min {
  background: #adffaf;
}
.cell--quic {
  border: 1px solid;
}
.cell--t0:after {
  position: absolute;
  content: '0';
  font-size: 8px;
  top: 3px;
  left: 4px;
}
.cell--t1:after {
  position: absolute;
  content: '1';
  font-size: 8px;
  top: 3px;
  left: 4px;
}
.col:first-child {
  border-left: var(--border);
}
.cell:last-child {
  border-bottom: var(--border);
}
.cell--row-header {
  width: var(--rowHeaderWidth);
  white-space: nowrap;
}
.cell--footer {
  height: var(--footerHeight);
  white-space: nowrap;
}
.cell--footer span {
  transform: rotate(-90deg);
}
.cell--clicked {
  background: #B3E5FC;
}

.route-abbr {
  display: inline;  
}
.route-label {
  display: none;
  white-space: break-spaces;
  text-align: center;
  font-size: .85em;
  padding: 0 .2em;
}
.cell:hover .route-abbr { display: none; }
.cell:hover .route-label { display: inline; }


.r { border-radius: 50%; }
.s1 { width: 5px; height: 5px; }
.s2 { width: 10px; height: 10px; }
.s3 { width: 15px; height: 15px; }
.s4 { width: 20px; height: 20px; }
.s5 { width: 25px; height: 25px; }

.c1 { background: #D1C4E9; }
.c2 { background: #B39DDB; }
.c3 { background: #7E57C2; }
.c4 { background: #5E35B1; }
.c5 { background: #4527A0; }

.we { background: #f9f9f9; }


.legend-container {
  padding: 0 2em;
}
.legend {
  display: flex;
  justify-content: center;
  padding: 2em 0;
  overflow: auto;
}
@media(max-width: 1100px) {
  .legend {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .legend .legend-item {
    margin-bottom: .5em;
    min-width: 24%;
  }
}
@media(max-width: 900px) {
  .legend .legend-item {
    min-width: 32%;
  }
}
@media(max-width: 700px) {
  .legend .legend-item {
    min-width: 45%;
  }
}
.legend .legend-item {
  display: flex; 
  align-items: center;
}
.legend .cell {
  cursor: default;
  border-bottom: var(--border);
  border-left: var(--border);
}
.legend .cell--quic {
  border: 1px solid;
}
.legend .col:hover,
.legend .cell:hover {
  background: white;
  color: #212121;
}
.legend .cell--legend-info {
  white-space: nowrap;
  justify-content: flex-start;
  padding: 0 1.5em 0 0.5em;
  border-bottom: none;
  border-top: none;
}
.col:last-child .cell--legend-info {
  border-right: none;
}



.directions-list {
  display: flex;
  flex-wrap: wrap;
}

.direction-item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 2em;
  border: 1px solid #f0f0f0;
  margin-right: 1em;
  margin-bottom: 1em;
  color: #212121;
  width: 160px;
  height: 160px;
  font-size: 1.2em;
}

@media(max-width: 700px) {
  .direction-item {
    width: 100%;
  }
}

.note {
  display: flex;
    justify-content: center;
    text-align: center;
}
.note p {
    width: 680px;
    font-size: 0.85em;
    margin-bottom: 2em;
    color: #555;
}
@media(max-width: 700px) {
  .note p {
    width: 100%;
    padding: 0 2em;
  }
}

.mobile-open-btn {
    position: fixed;
    z-index: 200;
    bottom: -5em;
    padding: 1em 2em;
    background: #7d57c2;
    color: white;
    text-align: center;
    left: 3em;
    right: 3em;
    border-radius: 4px;
    box-shadow: 0px 5px 6px 0 rgb(0 0 0 / 25%);
    transition: bottom .2s ease-in-out;
}

.mobile-open-btn--open {
    bottom: 1.5em;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
}
.mb-8 {margin-bottom: 8px;}
